.page {
    background-color: #2A2C2F;
    margin: 0;
    padding: 28px 48px 24px 48px;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {

    .page {
        padding: 28px 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {

    .page {
        padding: 16px 16px 24px 16px;
    }
}